@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: #f7f9fc;
    /* A lighter, more modern background */
    overflow-y: auto;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (max-width: 768px) {
    body {
        padding: 0;
        overflow-x: hidden;
        /* Prevent horizontal scroll */
    }
}

/* Style for scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}